html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  background-color: #edecec;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

div[role=main] {
   background-color: #edecec;
   min-height: calc(100vh - 165px);
 }

#welcome div {
  background-color: #edecec;
  min-height: calc(100vh - 180px);
  height: 0; /* IE fix https://stackoverflow.com/questions/19371626 */
}

div[role=footer] {
  background-color: #edecec;
}

.md-content {
  background-color: #edecec;
}

#settings md-select {
  padding-left: 20px;
  padding-right: 20px;
}

#timeperiod md-select-label {
  min-width:100%;
}

/* https://github.com/angular/material/issues/3283 should be fixed in material 0.11.0 */
.md-scroll-mask {
  z-index: 0 !important;
}

md-input-container.md-default-theme .md-input {
  color: rgba(255,255,255,0.87);
  border-color: rgba(255,255,255,0.87);
  margin-top: 24px;
}
/*** Browser fixes ***/
::-webkit-input-placeholder { /* WebKit browsers */
  color:    rgba(255,255,255,0.87);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    rgba(255,255,255,0.87);
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    rgba(255,255,255,0.87);
}

md-divider[role=vertical] {
  border-top: 0;
  border-left: 1px solid;
  border-left-color: rgba(0, 0, 0, 0.12);
}

/* Should be fixed in ngMaterial 0.10
md-select.md-default-theme:not([disabled]):focus .md-select-label {
  color: white;
}
*/

a {
  /*color: #106CC8;*/
  color: #0645ad;
  text-decoration: none;
  font-weight: 400;
  border-bottom: none;
  -webkit-transition: border-bottom 0.25s;
  -moz-transition: border-bottom 0.25s;
  -ms-transition: border-bottom 0.25s;
  -o-transition: border-bottom 0.25s;
  transition: border-bottom 0.25s;
}
a:hover, a:focus {
  /*border-bottom: 1px solid #4054B2;*/
  border-bottom: 1px solid #0645ad;
}
a.md-button {
  border-bottom: none;
}

.text-success {
  color:#3c763d
}
.text-danger {
  color:#a94442
}
.text-muted {
  color:#777
}

.whitebox {
  background-color: white;
  width: 100%;
  max-width: 1200px;
}

watchlist-entry {
  overflow: hidden;
  width: 100%;
}

watchlist-entry a{
  color:#0645ad;
}

watchlist-entry .left {
  float: left;
  width: 125px;
  overflow: hidden;
}

watchlist-entry a.project {
  color: rgba(0, 0, 0, 0.87);
}

watchlist-entry .right {
  overflow: hidden;
}

watchlist-entry:focus {
  outline:none;
}

#watchlist:last-child md-divider {
  border-top: 0;
}

span.comment{
  font-style: italic;
  unicode-bidi: embed;
}

span.autocomment{
  color:gray;
}

.strong {
  font-weight: bold;
}

.newpage, .minoredit, .botedit {
  font-weight: bold;
}

.mw-title
{
  font-weight: bold;
}

/** material design icons **/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(//tools.wmflabs.org/crosswatch/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(//tools.wmflabs.org/crosswatch/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(//tools.wmflabs.org/crosswatch/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(//tools.wmflabs.org/crosswatch/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }

/*** IE fixes  ***/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a img{
  border: 0;
}

/* https://github.com/angular/material/issues/2213 */
@media screen and (min-width:0\0) {
  md-select .md-select-icon {
    float: right;
  }
}

/* https://github.com/angular/material/issues/2769 */
_:-ms-fullscreen, :root /* IE11+ */ md-select-label :first-child{
  flex-basis: auto;
  max-width: 100%;
  overflow: hidden;
}
