# -*- coding: utf-8 -*-
# ISC License
# Copyright (C) 2015 Jan Lebert
from __future__ import absolute_import
import socket
from mwoauth import ConsumerToken

toolname = 'crosswatch'
redis_server = 'tools-redis'

# mail config for celery error mails
mail_server = 'tools-mail'
email = 'tools.' + toolname + '@tools.wmflabs.org'

if not socket.gethostname().startswith('tools'):
    redis_server = 'localhost'
redis_port = 6379
redis_db = 3
redis_prefix = 'REPLACE THIS STRING'  # random string
sql_user = 'REPLACE THIS STRING'
sql_passwd = 'REPLACE THIS STRING'

oauth_consumer_key = 'REPLACE THIS STRING'
oauth_consumer_secret = 'REPLACE THIS STRING'
consumer_token = ConsumerToken(oauth_consumer_key, oauth_consumer_secret)
