<div ng-if="ctrl.config.oneline" layout="row">
  <div class="left">
    <a href="{{::event.projecturl}}/wiki/Special:Watchlist" class="project"
       title="{{::event.project}}" target="_blank">
      <img height="16px" ng-src="{{::ctrl.icons[event.projectgroup]}}" alt="{{::event.projectgroup}}">
      <span ng-if="::event.projectlang">
        <span ng-if="!ctrl.config.flagsenable || !ctrl.flagurl(event.projectlang)">{{::event.projectlangname}}</span>
        <img ng-if="ctrl.config.flagsenable && ctrl.flagurl(event.projectlang)" height="13px" style="margin-bottom: 2px"
             ng-src="{{::ctrl.flagurl(event.projectlang)}}">
      </span>
    </a>
  </div>
  <div>
    <watchlist-edit type="oneline" ng-if="::event.type === 'edit' || event.type === 'new'"></watchlist-edit>
    <span ng-if="::event.type === 'log'">
      <span am-time-ago="event.timestamp"></span>
      <span class="mw-changeslist-separator">. .</span>
      <watchlist-logevent></watchlist-logevent>
    </span>
  </div>
</div>
<div ng-if="!ctrl.config.oneline" layout="row">
  <div class="left">
    <div am-time-ago="event.timestamp"></div>
    <a href="{{::event.projecturl}}/wiki/Special:Watchlist" class="project"
       title="{{::event.project}}" target="_blank">
      <img height="16px" ng-src="{{::ctrl.icons[event.projectgroup]}}" alt="{{::event.projectgroup}}">
      <span ng-if="::event.projectlang">
        <span ng-if="!ctrl.config.flagsenable || !ctrl.flagurl(event.projectlang)">{{::event.projectlangname}}</span>
        <img ng-if="ctrl.config.flagsenable && ctrl.flagurl(event.projectlang)" height="13px" style="margin-bottom: 2px"
             ng-src="{{::ctrl.flagurl(event.projectlang)}}">
      </span>
    </a>
  </div>
  <div>
    <watchlist-edit type="twolines" ng-if="::event.type === 'edit' || event.type === 'new'"></watchlist-edit>
    <watchlist-logevent ng-if="::event.type === 'log'"></watchlist-logevent>
  </div>
</div>

<table ng-if="event.clicked && event.diff" class="diff diff-contentalign-left">
  <colgroup><col class="diff-marker">
    <col class="diff-content">
    <col class="diff-marker">
    <col class="diff-content">
  </colgroup>
  <tbody ng-bind-html="::event.diff">
  </tbody>
</table>

