<div class="left">
  <div am-time-ago="event.timestamp"></div>
  <a href="{{::event.projecturl}}/wiki/Special:Watchlist" class="project"
     title="{{::event.project}}" target="_blank">
    <span ng-if="::event.projectlang">
      <span ng-if="!ctrl.flagsenable || !ctrl.flagurl(event.projectlang)">{{::event.projectlangname}}&#32;</span>
      <img ng-if="ctrl.flagsenable && ctrl.flagurl(event.projectlang)" height="12px" ng-src="{{::ctrl.flagurl(event.projectlang)}}">
    </span>
    <img height="16px" ng-src="{{::ctrl.icons[event.projectgroup]}}" alt="{{::event.projectgroup}}">
  </a>
</div>
<div class="right">
  <span class="newpage" ng-if="::event.new" translate="NEWPAGE_FLAG"></span>
  <span class="minoredit" ng-if="::event.minor" translate="MINOREDIT_FLAG"></span>
  <span class="botedit" ng-if="::event.bot" translate="BOTEDIT_FLAG"></span>
  <a href="{{::event.projecturl}}/w/index.php?oldid={{::event.old_revid}}&diff={{::event.revid}}"
     ng-class="::event.titlestyle"  target="_blank">{{::event.title}}</a>
  <span ng-class="::event.bytestyle">({{::event.bytes}})</span>
  <div>
    <a href="{{::event.projecturl}}/wiki/User:{{::event.user}}"  target="_blank">{{::event.user}}</a>
    <span ng-if="::event.parsedcomment" class="comment">(<span ng-bind-html="::event.parsedcomment"></span>)</span>
  </div>
</div>
