<div ng-controller="WatchlistCtrl as ctrl">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label><span translate="SEARCH"></span>:</label>
      <input type="text" class="form-control" ng-model="ctrl.searchText">
    </div>
    <br>
    <div class="checkbox">
      <label data-placement="bottom-left" data-type="info" data-animation="am-fade-and-scale" bs-tooltip="tooltip" bs-enabled="ctrl.flagsenable">
        <input type="checkbox" ng-model="ctrl.flagsenable"> Check me to show flags instead of language names
      </label>
    </div>
  </form>
  <hr>
  <ul class="example-animate-container">
    <li class="watchlist"
        ng-repeat="event in ctrl.watchlist| orderBy:'-timestamp' | filter:ctrl.searchText">
      <watchlist-entry>{{event}}</watchlist-entry>
    </li>
  </ul>
</div>
