<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl as ctrl" class="md-toolbar-tools">
  <md-select ng-model="ctrl.selectedLang"
             placeholder="Language"
             ng-change="ctrl.changeLanguage(ctrl.selectedLang)">
    <md-option ng-repeat="lang in ctrl.langs" value="{{lang.key}}">{{lang.language}}</md-option>
  </md-select>
  <md-button href="https://meta.wikimedia.org/wiki/Crosswatch" target="_blank" class="md-flat">
    {{'DOCUMENTATION' | translate}}
  </md-button>
  <md-button href="https://meta.wikimedia.org/wiki/Talk:Crosswatch" target="_blank" class="md-flat">
    {{'TALK' | translate}}
  </md-button>
  <md-button href="https://phabricator.wikimedia.org/project/view/1224/" target="_blank" class="md-flat">
    {{'REPORT_BUGS' | translate}}
  </md-button>
  <md-button href="login" target="_self" class="md-flat" ng-hide="ctrl.loggedin">
    {{'SIGN_IN' | translate}}
  </md-button>
  <md-button href="logout" target="_self" class="md-flat" ng-show="ctrl.loggedin">
    {{'SIGN_OUT' | translate}}
  </md-button>
</md-toolbar>
